
// head 区域
.head{
    height: 85px;
    display: flex;
    align-items: center;
    // background-color:skyblue;
    position: relative;

    .logo{
        background: url(../../img/header-total.gif) no-repeat -80px -54px;
        width: 210px;
        height: 43px;        
    }

    .area{
        height: 33px;
        width: 465px;
        position: absolute;
        right: 290px;
        background: url(../../img/header-total.gif) no-repeat 0 0;
    }
    .search{
        position: absolute;
        right: 0;
        width: 239px;
        display: flex;
        padding:10px;
        box-sizing: border-box;

        .search-area{
            // border: 0 none;
            // outline: 0 none;
            // display: block;
            background: #efefef;
            width: 200px;
            height: 35px;
            line-height: 35px;
            color: #ccc;  
            text-align: left;
            padding-left: 10px;
            
            // text-indent: 5px;    
        }

        .search-btn{
            // background: #ff464e;
            background: url(../../img/header-total.gif) right -65px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            // margin:-5px 0 0 -3px ; 
        }
    }
    
}


.body-b{
    background-color: #f9f9f9;
    padding: 10px 0;

    .login-head{
        width: 980px;
        margin: 20px auto;
        margin-bottom: 0;
        background-color: #fff;

        .title{
            width: 978px;
            padding: 20px 40px;
            border-bottom: #e2e2e2 solid 1px;
            overflow: hidden;

            .oldlogin{
                color: #ff464e;
                font-size: 16px;
                font-family: "微软雅黑","宋体";
                margin-right: 10px;
                background: url() no-repeat center right;
                padding:0 20px;
                float: left;
            }
            .tips{
                color: #666;
                float: left;
                margin-top: 3px;
            }
            .other{
                float: right;
                font-size: 14px;
                color: #999;

                a{
                    color: #0289cd;
                }
            }
        }

        

    }
    .login-center{
        padding: 30px  100px;
        width: 780px;
        height: auto;
        overflow: hidden;
        background-color: #fff;
        margin: 0 auto;
        box-sizing: content-box;

        .login_error{
            color: #ff464e;
            margin: 0 324px;
        }

        .form-group{
            margin-bottom: 70px;

            label{
                font-size: 18px;
            }
            .form-control{
                height: 50px;
                text-align: left;
            }
            .error{
                color: #ff464e;
            }
        }
        .btn{
            font-size: 18px;
        }

    }
    
    
}

    


// foot 区域
.foot{
    border-top: 4px solid #ff464e;
    background: #f9f9f9;
    clear: both;
    position: relative;


    .foot-con{
        padding:50px;
        overflow: hidden;

        .ft-company{
            text-align: center;
            padding-top: 20px;
            color: #c6c6c6;
        }
        
    }
   
}

// 右边导航区域
.side-right{
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 36px;
    background-color: #444;
    z-index: 102;

    .side-box{
        z-index: 101;
        position: relative;
        color: #fff;
        // background: pink;
        height: 100%;

        ul{
            position: absolute;
            top: 120px;

            li{
                position: relative;
                margin-top: 15px;


                .tab-tips{
                    background-color: #444;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                    color: #fff;
                    // display: none;
                    height: 36px;
                    line-height: 36px;
                    position: absolute;
                    right: 62px;
                    text-align: center;
                    top: 0;
                    width: 90px;
                    border-radius: 2px;
                    opacity: 0;


                    .arr-icon{
                        color: #444;
                        font-family: "宋体";
                        font-size: 16px;
                        height: 16px;
                        position: absolute;
                        right: -6px;
                        text-align: center;
                        top: 2px;
                        width: 16px;
                        display: block;
                    }
                }

                &:hover {
                    a{
                        background: #ff464e;                        // background-color: #ff464e;
                    }
                    .tab-tips{
                        opacity: 1;
                        // display: block;
                        right: 36px;
                        transition:right  0.5s linear;
                    }
                }               
            }
            
            .side-user{

                a{
                    width: 36px;
                    padding: 9px 0; 
                    display: block;
                    cursor: pointer;
                    font-size: 18px;
                    color: #5e5e5e;
                    

                    
                    .i-user{
                        display: block;
                        width: 18px;
                        height: 18px;
                        color: #fff;
                        margin: auto;
                        background: url(../../img/sidebar.png) no-repeat 0px 0px;
                    }

                }

            }
            .side-cart{
                border-top: #222 solid 1px;
                border-bottom: #222 solid 1px;
                a{
                    border-top: #555 solid 1px;
                    border-bottom: #555 solid 1px;
                    width: 36px;
                    padding: 9px 0;
                    display: block;
                    cursor: pointer;
                    color: #5e5e5e;

                    i{
                        height: 77px;
                        width: 18px;
                        background: url(../../img/sidebar.png) no-repeat 0px -24px;
                        margin: 0 0 0 9px;
                        display: block;
                    }
                    em{
                        background: #ff464e;
                        border-radius:15px ;
                        color: #fff;
                        display: block;
                        font-family: "宋体";
                        height: 18px;
                        line-height: 18px;
                        width: 18px;
                        text-align: center;
                        margin: 5px 0 0 9px;

                    }
                }
            }
            .side-love{
                a{
                    width: 36px;
                    padding: 9px 0;
                    display: block;
                    cursor: pointer;
                    color: #5e5e5e;

                    i{
                        width: 18px;
                        height: 18px;
                        background: url(../../img/sidebar.png) no-repeat 0 -110px;
                        margin: 0 0 0 9px;
                        display: block;
                    }
                }
            }
            .side-quan{
                a{
                    width: 36px;
                    padding: 9px 0;
                    display: block;
                    cursor: pointer;
                    color: #5e5e5e;

                    i{
                        width: 18px;
                        height: 18px;
                        background: url(../../img/sidebar.png) no-repeat 0 -134px;
                        margin: 0 0 0 9px;
                        display: block;
                    }
                }
            }
        }
        .other{
            position: absolute;
            top: auto;
            bottom: 0px;
            margin-bottom: 30px;
            // background-color: green;
            
            

            .side-complain{
                a{
                    
                    width: 36px;
                    padding: 9px 0; 
                    display: block;
                    cursor: pointer;
                    font-size: 18px;
                    color: #5e5e5e;
                    i{
                        width: 18px;
                        height: 18px;
                        margin: 0 0 0 9px;
                        display: block;
                        background: url(../../img/sidebar.png) no-repeat 0 -208px;
                    }
                }
            }

            .side-two{
                a{
                    
                    width: 36px;
                    padding: 9px 0; 
                    display: block;
                    cursor: pointer;
                    font-size: 18px;
                    color: #5e5e5e;
                    i{
                        width: 18px;
                        height: 18px;
                        margin: 0 0 0 9px;
                        display: block;
                        background: url(../../img/sidebar.png) no-repeat 0 -160px;
                    }
                }
                .tab-tips {
                    height: auto;
                    top: -70px;
                    background-color: #fff;
                    border: #e2e2e2 solid 1px;
                    padding: 5px;
                    width: 158px;
                    height: 173px;


                    .code-box{
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 158px;
                        z-index: 5;
    
                        .code{
                            background: url(../../img/app-code.png) no-repeat ;
                            width: 148px;
                            height: 148px;
                        }
                        .txt{
                            text-align: center;
                            font-size: 14px;
                            color: #666;
                            line-height: 18px;
                        }
                    }
                }
                
                
            }

            .side-backtop{
                height: 36px;
                display: none;
                a{
                    display: block;
                    padding: 9px 0;
                    width: 36px;
                    cursor: pointer;

                    i{
                        width: 18px;
                        height: 18px;
                        background: url(../../img/sidebar.png) no-repeat 0 -187px;
                        margin: 0 0 0 9px;
                        display: block;
                    }
                }
            }
        }
    }
}

